@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans"
}
h1,h2,h3{
    margin: 15px 0;
    font-weight: 550;
}
p{
    margin: 15px 0;
}
header{
    color: #008AA6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
}
li{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #106D8C;
    padding: 6px 16px;
    margin-top: 9px;
    border-radius: 15px;
}
ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
nav{
    width: 50%;
}
.first{
    background-color: #D8F8FF;
    color: #106D8C;
    padding: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}
.introimg{
    width: 370px;
    margin: 1%;
}
.base{
    height: 30vh;
    color: #008AA6;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10%;
    font-size: 28px;
    text-align: center;
}
.task{
    margin: 3% 2%;
    padding: 2% 4%;
    width: 70%;
    height: 45vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CAF6FF;
    color: #008AA6;
    border-radius: 25px;
    font-size: 27px;
}
.taskimg{
    width: 300px;
}
#task2{
    margin-left: 20%;
}
.breakimg{
    width: 100%;
}
.clients1{
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #008AA6;
    padding: 30px 20px;
    margin-bottom: 45px;
}
.clients2{
    display: flex;
    font-size: 25px;
    color: #008AA6;
    padding: 30px;
}
.part-clients{
    flex: 1;
    padding: 10px 30px;
    border-left: 0.4mm solid black;
}
.clientsimg{
    width: 30px;
}
#contacts{
    background-color: #F9F9F9;
}
footer{
    background-color: #003844;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}